<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>APPOO_Server</display-name>
  <servlet>
    <servlet-name>index_servlet</servlet-name>
    <servlet-class>com.chat.server.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>chat_app_servlet</servlet-name>
    <servlet-class>com.chat.server.servlet.ChatAppServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>service_servlet</servlet-name>
    <servlet-class>com.chat.server.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_servlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index_servlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index_servlet</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index_servlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index_servlet</servlet-name>
    <url-pattern>/index.php</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chat_app_servlet</servlet-name>
    <url-pattern>/chat_app</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>service_servlet</servlet-name>
    <url-pattern>/service_servlet</url-pattern>
  </servlet-mapping>
</web-app>